{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
    <link href="{% static "/css/reviews-all.css" %}" rel="stylesheet">

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-12 text-center mb-5">
            <div class="card">
                <div class="row justify-content-left d-flex">
                    <div class="col-md-4 d-flex flex-column">
                        <div class="rating-box">
                            <h1 class="pt-4">4.0</h1>
                            <p class="">out of 5</p>
                        </div>
                        <div> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-active mx-1"></span> <span class="fa fa-star star-inactive mx-1"></span> </div>
                    </div>
                    <div class="col-md-8">
                        <div class="rating-bar0 justify-content-center">
                            <table class="text-left mx-auto">
                                <tr>
                                    <td class="rating-label">Excellent</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">123</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Good</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">23</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Average</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-3"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">10</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Poor</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-2"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">3</td>
                                </tr>
                                <tr>
                                    <td class="rating-label">Terrible</td>
                                    <td class="rating-bar">
                                        <div class="bar-container">
                                            <div class="bar-1"></div>
                                        </div>
                                    </td>
                                    <td class="text-right">0</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        <!-- REVIEWS -->
            {% for review in object_list %}
            <div class="card">
                <div class="row d-flex">

                    {% if not review.has_profile_pic %}
                     <div class=""> <img src="{% static '/images/blank-profile-image.png' %}" width="200" height="200"> </div>
                        {% else %}
                    <div class=""> <img src="{{ review.profile_pic }}" width="200" height="200"> </div>
                    {% endif %}

                    <div class="d-flex flex-column">
                        <h3 class="mt-2 mb-0">{{ review.user_email}}</h3>
                        <div>
                            <p class="text-left"><span class="text-muted">4.0</span> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <p class="text-muted pt-5 pt-sm-3">{{ review.date_added }}</p>
                    </div>
                </div>
                <div class="row text-left">
                    <h4 class="blue-text mt-3">"{{ review.title }}"</h4>
                    <p class="content">{{ review.body }}</p>
                </div>

                <!-- Like Button -->
                {% if not request.user.id == review.user_id and not clicked%}
                    <div class="like mr-3 vote"><a href="{% url 'show like review' review.id %}"><img src="https://i.imgur.com/mHSQOaX.png"></a>
                {% else %}

                <div class="like mr-3 vote"><img src="https://i.imgur.com/mHSQOaX.png">
                {% endif %}

               <span class="blue-text pl-2">{{ review.likes }}</span> </div>

                <!-- DisLike Button -->
                {% if not request.user.id == review.user_id and not clicked%}
                <div class="unlike vote"><a href="{% url 'show dislike review' review.id %}"> <img src="https://i.imgur.com/bFBO3J7.png"></a>
                {% else %}

                <div class="unlike vote"><img src="https://i.imgur.com/bFBO3J7.png">

                {% endif %}
                <span class="text-muted pl-2">{{ review.dislikes }}</span> </div>

            {% endfor %}

                <!-- END REVIEWS -->

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}