{% extends 'base/base.html' %}
{% block main-content %}
    <article>
    <br><br>
    <div class="row">
            <div class="col-md-4"></div>

        <div class="col">
            <form method="post" action="{% url 'show add review' pk %}">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="btn btn-outline-success">Add</button>

            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    </article>

{% endblock %}