{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}

    <link href="{% static "/assets/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">

<main class="form-signin">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col">
                <form method="post" action="{% url 'show sign in' %}">
                  {% csrf_token %}
                  {{ form }}
                  <div class="checkbox mb-3">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

                </form>
            </div>
        <div class="col-md-4"></div>
    </div>
</main>
    <br> <br> <br>

{% endblock %}